@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .category {
    @apply uppercase bg-gray-950 text-xs text-white rounded-lg py-1 px-2;
  }
  .label {
    @apply block text-sm/6 font-medium text-gray-900;
  }
  .input {
    @apply block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 outline-none shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6;
  }
  .btn-submit {
    @apply flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
  }
  .error-message {
    @apply text-xs text-red-600;
  }
  .error-response {
    @apply relative rounded-lg border p-3 text-sm mb-4 border-red-100 bg-red-50 text-red-700;
  }
  .link {
    @apply text-sm/6 font-semibold text-gray-900;
  }
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
